{% extends 'bootstrap/base.html' %}
{% block title %}
    Stuff
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default">
        <a class="navbar-brand" href="{{ url_for('index') }}">home</a>
        {% if not current_user.is_authenticated %}
            <a class="col-md-4, navbar-brand" href="{{ url_for('login') }}">login</a>
        {% else %}
            <a class="col-md-4, navbar-brand" href="{{ url_for('logout') }}">logout</a>
        {% endif %}
        <a class="col-md-4, navbar-brand" href="{{ url_for('search') }}">search</a>
    </nav>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                            <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
            {% endif %}
        {% endwith %}
{% endblock %}


{% block content %}{% endblock %}