{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>CODING EXERCISE</h1>
        <p class="lead">
            A prototype demonstrating the Flask web framework.

        </p>
        <p class="lead">Ingredients:</p>
        <ul class="lead">
            <li>Flask</li>
            <li>SQL for user storage</li>
            <li>MongoDB for storing movie documents</li>
            <li>ElasticSearch for performing text searches</li>
            <li>Heroku for deployment</li>
        </ul>
    <p>Written for a job application. Check out the <a href="https://github.com/heyoni/enerknol">source</a> for more details!</p>
    </div>
{% endblock %}