{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <form action="{{ url_for('search') }}" method="get">
            <div class="row">
                <div class="col-lg-3">
                    {{ form.q.label(class_="control-label") }}
                    {{ form.q(size=32, class_="form-control") }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    {{ form.submit(class_="btn btn-default") }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}